<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts students</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/student-details">Hogwarts students - homepage</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
